<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

<context:annotation-config></context:annotation-config>



<bean  id="s1" class="com.zensar.beans.Employee" autowire="constructor">
<property name="empId" value="105"></property>
<property name="empName" value="srilaxmi"></property>
<property name="empAge" value="23"></property>
<property name="Department" ref="dep1"></property>
</bean> 
 
<bean id="dep1" class="com.zensar.beans.Department">
<property name="depId" value="100"></property>
<property name="depName" value="CSE"></property>
</bean>


</beans>
